<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-header-component (featureSelected)="onNavigate($event)"></app-header-component>
      <app-recipes-component *ngIf="loadedFeature === 'recipe'"></app-recipes-component>
      <app-shoppinglist-component *ngIf="loadedFeature !== 'recipe'"></app-shoppinglist-component>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <hr>
      <app-footer-component></app-footer-component>
    </div>
  </div>
