<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">

      <div class="float-start">
        <h4 class="list-group-item-heading">
          <span class="glyphicon glyphicon-cutlery"></span>
          <span class="recipe-name">{{recipe.name}}</span>
        </h4>
        <p class="list-group-item-text">
          <span class="recipe-description">{{recipe.description}}</span>
        </p>
      </div>
      <span class="float-end">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-fluid" style="max-height: 50px;">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
