<div
  class="recipe-card-container mb-4"
  [routerLink]="[recipe.id]"
  routerLinkActive="active"
  style="cursor: pointer;">
  <div class="card recipe-card h-100">
    <div class="row g-0">
      <div class="col-4">
        <div class="image-wrapper">
          <img [src]="recipe.imagePath" class="img-fluid rounded-start recipe-image" [alt]="recipe.name">
        </div>
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title text-truncate">{{ recipe.name }}</h5>
          <p class="card-text text-muted recipe-desc">{{ recipe.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
